<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arz.pmp.base.mapper.PmpUserRefCourseEntityMapper">
  <resultMap id="BaseResultMap" type="com.arz.pmp.base.entity.PmpUserRefCourseEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pay_id" jdbcType="BIGINT" property="payId" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="room_choose_time" jdbcType="BIGINT" property="roomChooseTime" />
    <result column="invoice_on" jdbcType="BIT" property="invoiceOn" />
    <result column="invoice_header" jdbcType="VARCHAR" property="invoiceHeader" />
    <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="graduation_status" jdbcType="INTEGER" property="graduationStatus" />
    <result column="cert_no" jdbcType="VARCHAR" property="certNo" />
    <result column="cert_en_name" jdbcType="VARCHAR" property="certEnName" />
    <result column="cert_en_pasw" jdbcType="VARCHAR" property="certEnPasw" />
    <result column="cert_cn_name" jdbcType="VARCHAR" property="certCnName" />
    <result column="cert_cn_pasw" jdbcType="VARCHAR" property="certCnPasw" />
    <result column="cert_start_time" jdbcType="BIGINT" property="certStartTime" />
    <result column="cert_end_time" jdbcType="BIGINT" property="certEndTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="exam_place" jdbcType="VARCHAR" property="examPlace" />
    <result column="ease_out" jdbcType="BIT" property="easeOut" />
    <result column="ease_in" jdbcType="BIT" property="easeIn" />
    <result column="withdraw_on" jdbcType="BIT" property="withdrawOn" />
    <result column="audit_on" jdbcType="BIT" property="auditOn" />
    <result column="receive_type" jdbcType="INTEGER" property="receiveType" />
    <result column="re_examine_on" jdbcType="BIT" property="reExamineOn" />
    <result column="examination_time" jdbcType="BIGINT" property="examinationTime" />
    <result column="pay_total" jdbcType="DECIMAL" property="payTotal" />
    <result column="pay_time" jdbcType="BIGINT" property="payTime" />
    <result column="pay_remarks" jdbcType="VARCHAR" property="payRemarks" />
    <result column="consultation_time" jdbcType="BIGINT" property="consultationTime" />
    <result column="consultation_city" jdbcType="VARCHAR" property="consultationCity" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="create_manager" jdbcType="BIGINT" property="createManager" />
    <result column="update_manager" jdbcType="BIGINT" property="updateManager" />
    <result column="del_on" jdbcType="BIT" property="delOn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, pay_id, room_id, room_choose_time, invoice_on, invoice_header, invoice_code, 
    admin_id, course_id, graduation_status, cert_no, cert_en_name, cert_en_pasw, cert_cn_name, 
    cert_cn_pasw, cert_start_time, cert_end_time, remark, exam_name, exam_place, ease_out, 
    ease_in, withdraw_on, audit_on, receive_type, re_examine_on, examination_time, pay_total, 
    pay_time, pay_remarks, consultation_time, consultation_city, create_time, update_time, 
    create_manager, update_manager, del_on
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pmp_user_ref_course
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pmp_user_ref_course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.arz.pmp.base.entity.PmpUserRefCourseEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pmp_user_ref_course (user_id, pay_id, room_id, 
      room_choose_time, invoice_on, invoice_header, 
      invoice_code, admin_id, course_id, 
      graduation_status, cert_no, cert_en_name, 
      cert_en_pasw, cert_cn_name, cert_cn_pasw, 
      cert_start_time, cert_end_time, remark, 
      exam_name, exam_place, ease_out, 
      ease_in, withdraw_on, audit_on, receive_type, 
      re_examine_on, examination_time, pay_total, 
      pay_time, pay_remarks, consultation_time, 
      consultation_city, create_time, update_time, 
      create_manager, update_manager, del_on
      )
    values (#{userId,jdbcType=BIGINT}, #{payId,jdbcType=BIGINT}, #{roomId,jdbcType=BIGINT}, 
      #{roomChooseTime,jdbcType=BIGINT}, #{invoiceOn,jdbcType=BIT}, #{invoiceHeader,jdbcType=VARCHAR}, 
      #{invoiceCode,jdbcType=VARCHAR}, #{adminId,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, 
      #{graduationStatus,jdbcType=INTEGER}, #{certNo,jdbcType=VARCHAR}, #{certEnName,jdbcType=VARCHAR}, 
      #{certEnPasw,jdbcType=VARCHAR}, #{certCnName,jdbcType=VARCHAR}, #{certCnPasw,jdbcType=VARCHAR}, 
      #{certStartTime,jdbcType=BIGINT}, #{certEndTime,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, 
      #{examName,jdbcType=VARCHAR}, #{examPlace,jdbcType=VARCHAR}, #{easeOut,jdbcType=BIT}, 
      #{easeIn,jdbcType=BIT}, #{withdrawOn,jdbcType=BIT}, #{auditOn,jdbcType=BIT}, #{receiveType,jdbcType=INTEGER}, 
      #{reExamineOn,jdbcType=BIT}, #{examinationTime,jdbcType=BIGINT}, #{payTotal,jdbcType=DECIMAL}, 
      #{payTime,jdbcType=BIGINT}, #{payRemarks,jdbcType=VARCHAR}, #{consultationTime,jdbcType=BIGINT}, 
      #{consultationCity,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{createManager,jdbcType=BIGINT}, #{updateManager,jdbcType=BIGINT}, #{delOn,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.arz.pmp.base.entity.PmpUserRefCourseEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pmp_user_ref_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="payId != null">
        pay_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="roomChooseTime != null">
        room_choose_time,
      </if>
      <if test="invoiceOn != null">
        invoice_on,
      </if>
      <if test="invoiceHeader != null">
        invoice_header,
      </if>
      <if test="invoiceCode != null">
        invoice_code,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="graduationStatus != null">
        graduation_status,
      </if>
      <if test="certNo != null">
        cert_no,
      </if>
      <if test="certEnName != null">
        cert_en_name,
      </if>
      <if test="certEnPasw != null">
        cert_en_pasw,
      </if>
      <if test="certCnName != null">
        cert_cn_name,
      </if>
      <if test="certCnPasw != null">
        cert_cn_pasw,
      </if>
      <if test="certStartTime != null">
        cert_start_time,
      </if>
      <if test="certEndTime != null">
        cert_end_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="examName != null">
        exam_name,
      </if>
      <if test="examPlace != null">
        exam_place,
      </if>
      <if test="easeOut != null">
        ease_out,
      </if>
      <if test="easeIn != null">
        ease_in,
      </if>
      <if test="withdrawOn != null">
        withdraw_on,
      </if>
      <if test="auditOn != null">
        audit_on,
      </if>
      <if test="receiveType != null">
        receive_type,
      </if>
      <if test="reExamineOn != null">
        re_examine_on,
      </if>
      <if test="examinationTime != null">
        examination_time,
      </if>
      <if test="payTotal != null">
        pay_total,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="payRemarks != null">
        pay_remarks,
      </if>
      <if test="consultationTime != null">
        consultation_time,
      </if>
      <if test="consultationCity != null">
        consultation_city,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createManager != null">
        create_manager,
      </if>
      <if test="updateManager != null">
        update_manager,
      </if>
      <if test="delOn != null">
        del_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="payId != null">
        #{payId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="roomChooseTime != null">
        #{roomChooseTime,jdbcType=BIGINT},
      </if>
      <if test="invoiceOn != null">
        #{invoiceOn,jdbcType=BIT},
      </if>
      <if test="invoiceHeader != null">
        #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="graduationStatus != null">
        #{graduationStatus,jdbcType=INTEGER},
      </if>
      <if test="certNo != null">
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="certEnName != null">
        #{certEnName,jdbcType=VARCHAR},
      </if>
      <if test="certEnPasw != null">
        #{certEnPasw,jdbcType=VARCHAR},
      </if>
      <if test="certCnName != null">
        #{certCnName,jdbcType=VARCHAR},
      </if>
      <if test="certCnPasw != null">
        #{certCnPasw,jdbcType=VARCHAR},
      </if>
      <if test="certStartTime != null">
        #{certStartTime,jdbcType=BIGINT},
      </if>
      <if test="certEndTime != null">
        #{certEndTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="examName != null">
        #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examPlace != null">
        #{examPlace,jdbcType=VARCHAR},
      </if>
      <if test="easeOut != null">
        #{easeOut,jdbcType=BIT},
      </if>
      <if test="easeIn != null">
        #{easeIn,jdbcType=BIT},
      </if>
      <if test="withdrawOn != null">
        #{withdrawOn,jdbcType=BIT},
      </if>
      <if test="auditOn != null">
        #{auditOn,jdbcType=BIT},
      </if>
      <if test="receiveType != null">
        #{receiveType,jdbcType=INTEGER},
      </if>
      <if test="reExamineOn != null">
        #{reExamineOn,jdbcType=BIT},
      </if>
      <if test="examinationTime != null">
        #{examinationTime,jdbcType=BIGINT},
      </if>
      <if test="payTotal != null">
        #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=BIGINT},
      </if>
      <if test="payRemarks != null">
        #{payRemarks,jdbcType=VARCHAR},
      </if>
      <if test="consultationTime != null">
        #{consultationTime,jdbcType=BIGINT},
      </if>
      <if test="consultationCity != null">
        #{consultationCity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createManager != null">
        #{createManager,jdbcType=BIGINT},
      </if>
      <if test="updateManager != null">
        #{updateManager,jdbcType=BIGINT},
      </if>
      <if test="delOn != null">
        #{delOn,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arz.pmp.base.entity.PmpUserRefCourseEntity">
    update pmp_user_ref_course
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="payId != null">
        pay_id = #{payId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="roomChooseTime != null">
        room_choose_time = #{roomChooseTime,jdbcType=BIGINT},
      </if>
      <if test="invoiceOn != null">
        invoice_on = #{invoiceOn,jdbcType=BIT},
      </if>
      <if test="invoiceHeader != null">
        invoice_header = #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="graduationStatus != null">
        graduation_status = #{graduationStatus,jdbcType=INTEGER},
      </if>
      <if test="certNo != null">
        cert_no = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="certEnName != null">
        cert_en_name = #{certEnName,jdbcType=VARCHAR},
      </if>
      <if test="certEnPasw != null">
        cert_en_pasw = #{certEnPasw,jdbcType=VARCHAR},
      </if>
      <if test="certCnName != null">
        cert_cn_name = #{certCnName,jdbcType=VARCHAR},
      </if>
      <if test="certCnPasw != null">
        cert_cn_pasw = #{certCnPasw,jdbcType=VARCHAR},
      </if>
      <if test="certStartTime != null">
        cert_start_time = #{certStartTime,jdbcType=BIGINT},
      </if>
      <if test="certEndTime != null">
        cert_end_time = #{certEndTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="examName != null">
        exam_name = #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examPlace != null">
        exam_place = #{examPlace,jdbcType=VARCHAR},
      </if>
      <if test="easeOut != null">
        ease_out = #{easeOut,jdbcType=BIT},
      </if>
      <if test="easeIn != null">
        ease_in = #{easeIn,jdbcType=BIT},
      </if>
      <if test="withdrawOn != null">
        withdraw_on = #{withdrawOn,jdbcType=BIT},
      </if>
      <if test="auditOn != null">
        audit_on = #{auditOn,jdbcType=BIT},
      </if>
      <if test="receiveType != null">
        receive_type = #{receiveType,jdbcType=INTEGER},
      </if>
      <if test="reExamineOn != null">
        re_examine_on = #{reExamineOn,jdbcType=BIT},
      </if>
      <if test="examinationTime != null">
        examination_time = #{examinationTime,jdbcType=BIGINT},
      </if>
      <if test="payTotal != null">
        pay_total = #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=BIGINT},
      </if>
      <if test="payRemarks != null">
        pay_remarks = #{payRemarks,jdbcType=VARCHAR},
      </if>
      <if test="consultationTime != null">
        consultation_time = #{consultationTime,jdbcType=BIGINT},
      </if>
      <if test="consultationCity != null">
        consultation_city = #{consultationCity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createManager != null">
        create_manager = #{createManager,jdbcType=BIGINT},
      </if>
      <if test="updateManager != null">
        update_manager = #{updateManager,jdbcType=BIGINT},
      </if>
      <if test="delOn != null">
        del_on = #{delOn,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arz.pmp.base.entity.PmpUserRefCourseEntity">
    update pmp_user_ref_course
    set user_id = #{userId,jdbcType=BIGINT},
      pay_id = #{payId,jdbcType=BIGINT},
      room_id = #{roomId,jdbcType=BIGINT},
      room_choose_time = #{roomChooseTime,jdbcType=BIGINT},
      invoice_on = #{invoiceOn,jdbcType=BIT},
      invoice_header = #{invoiceHeader,jdbcType=VARCHAR},
      invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=BIGINT},
      course_id = #{courseId,jdbcType=BIGINT},
      graduation_status = #{graduationStatus,jdbcType=INTEGER},
      cert_no = #{certNo,jdbcType=VARCHAR},
      cert_en_name = #{certEnName,jdbcType=VARCHAR},
      cert_en_pasw = #{certEnPasw,jdbcType=VARCHAR},
      cert_cn_name = #{certCnName,jdbcType=VARCHAR},
      cert_cn_pasw = #{certCnPasw,jdbcType=VARCHAR},
      cert_start_time = #{certStartTime,jdbcType=BIGINT},
      cert_end_time = #{certEndTime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      exam_name = #{examName,jdbcType=VARCHAR},
      exam_place = #{examPlace,jdbcType=VARCHAR},
      ease_out = #{easeOut,jdbcType=BIT},
      ease_in = #{easeIn,jdbcType=BIT},
      withdraw_on = #{withdrawOn,jdbcType=BIT},
      audit_on = #{auditOn,jdbcType=BIT},
      receive_type = #{receiveType,jdbcType=INTEGER},
      re_examine_on = #{reExamineOn,jdbcType=BIT},
      examination_time = #{examinationTime,jdbcType=BIGINT},
      pay_total = #{payTotal,jdbcType=DECIMAL},
      pay_time = #{payTime,jdbcType=BIGINT},
      pay_remarks = #{payRemarks,jdbcType=VARCHAR},
      consultation_time = #{consultationTime,jdbcType=BIGINT},
      consultation_city = #{consultationCity,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      create_manager = #{createManager,jdbcType=BIGINT},
      update_manager = #{updateManager,jdbcType=BIGINT},
      del_on = #{delOn,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>