<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arz.pmp.base.mapper.PmpUserEntityMapper">
  <resultMap id="BaseResultMap" type="com.arz.pmp.base.entity.PmpUserEntity">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="education_id" jdbcType="BIGINT" property="educationId" />
    <result column="pay_id" jdbcType="BIGINT" property="payId" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="resource_id" jdbcType="BIGINT" property="resourceId" />
    <result column="recommend_name" jdbcType="VARCHAR" property="recommendName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="birthday" jdbcType="BIGINT" property="birthday" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="fixed_telephone" jdbcType="VARCHAR" property="fixedTelephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="backup_email" jdbcType="VARCHAR" property="backupEmail" />
    <result column="wechat_no" jdbcType="VARCHAR" property="wechatNo" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="identity_no" jdbcType="VARCHAR" property="identityNo" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="graduation_time" jdbcType="BIGINT" property="graduationTime" />
    <result column="graduation_school" jdbcType="VARCHAR" property="graduationSchool" />
    <result column="school_major" jdbcType="VARCHAR" property="schoolMajor" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="com_department" jdbcType="VARCHAR" property="comDepartment" />
    <result column="com_position" jdbcType="VARCHAR" property="comPosition" />
    <result column="invoice_on" jdbcType="BIT" property="invoiceOn" />
    <result column="invoice_header" jdbcType="VARCHAR" property="invoiceHeader" />
    <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="graduation_status" jdbcType="INTEGER" property="graduationStatus" />
    <result column="cert_no" jdbcType="VARCHAR" property="certNo" />
    <result column="cert_en_name" jdbcType="VARCHAR" property="certEnName" />
    <result column="cert_en_pasw" jdbcType="VARCHAR" property="certEnPasw" />
    <result column="cert_cn_name" jdbcType="VARCHAR" property="certCnName" />
    <result column="cert_cn_pasw" jdbcType="VARCHAR" property="certCnPasw" />
    <result column="cert_start_time" jdbcType="BIGINT" property="certStartTime" />
    <result column="cert_end_time" jdbcType="BIGINT" property="certEndTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="institution" jdbcType="VARCHAR" property="institution" />
    <result column="exam_place" jdbcType="VARCHAR" property="examPlace" />
    <result column="ease_out" jdbcType="BIT" property="easeOut" />
    <result column="ease_in" jdbcType="BIT" property="easeIn" />
    <result column="withdraw_on" jdbcType="BIT" property="withdrawOn" />
    <result column="audit_on" jdbcType="BIT" property="auditOn" />
    <result column="receive_type" jdbcType="INTEGER" property="receiveType" />
    <result column="re_examine_on" jdbcType="BIT" property="reExamineOn" />
    <result column="examination_time" jdbcType="BIGINT" property="examinationTime" />
    <result column="pay_total" jdbcType="DECIMAL" property="payTotal" />
    <result column="pay_time" jdbcType="BIGINT" property="payTime" />
    <result column="pay_remarks" jdbcType="VARCHAR" property="payRemarks" />
    <result column="consultation_time" jdbcType="BIGINT" property="consultationTime" />
    <result column="consultation_city" jdbcType="VARCHAR" property="consultationCity" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="create_manager" jdbcType="BIGINT" property="createManager" />
    <result column="update_manager" jdbcType="BIGINT" property="updateManager" />
    <result column="del_on" jdbcType="BIT" property="delOn" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, education_id, pay_id, room_id, resource_id, recommend_name, user_name, gender, 
    nationality, birthday, phone_no, fixed_telephone, email, backup_email, wechat_no, 
    qq, identity_no, zip_code, user_address, graduation_time, graduation_school, school_major, 
    industry, com_name, com_department, com_position, invoice_on, invoice_header, invoice_code, 
    user_type, admin_id, course_id, graduation_status, cert_no, cert_en_name, cert_en_pasw, 
    cert_cn_name, cert_cn_pasw, cert_start_time, cert_end_time, remark, exam_name, institution, 
    exam_place, ease_out, ease_in, withdraw_on, audit_on, receive_type, re_examine_on, 
    examination_time, pay_total, pay_time, pay_remarks, consultation_time, consultation_city, 
    create_time, update_time, create_manager, update_manager, del_on
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pmp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pmp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.arz.pmp.base.entity.PmpUserEntity">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pmp_user (education_id, pay_id, room_id, 
      resource_id, recommend_name, user_name, 
      gender, nationality, birthday, 
      phone_no, fixed_telephone, email, 
      backup_email, wechat_no, qq, 
      identity_no, zip_code, user_address, 
      graduation_time, graduation_school, school_major, 
      industry, com_name, com_department, 
      com_position, invoice_on, invoice_header, 
      invoice_code, user_type, admin_id, 
      course_id, graduation_status, cert_no, 
      cert_en_name, cert_en_pasw, cert_cn_name, 
      cert_cn_pasw, cert_start_time, cert_end_time, 
      remark, exam_name, institution, 
      exam_place, ease_out, ease_in, 
      withdraw_on, audit_on, receive_type, 
      re_examine_on, examination_time, pay_total, 
      pay_time, pay_remarks, consultation_time, 
      consultation_city, create_time, update_time, 
      create_manager, update_manager, del_on
      )
    values (#{educationId,jdbcType=BIGINT}, #{payId,jdbcType=BIGINT}, #{roomId,jdbcType=BIGINT}, 
      #{resourceId,jdbcType=BIGINT}, #{recommendName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=BIT}, #{nationality,jdbcType=VARCHAR}, #{birthday,jdbcType=BIGINT}, 
      #{phoneNo,jdbcType=VARCHAR}, #{fixedTelephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{backupEmail,jdbcType=VARCHAR}, #{wechatNo,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{identityNo,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR}, 
      #{graduationTime,jdbcType=BIGINT}, #{graduationSchool,jdbcType=VARCHAR}, #{schoolMajor,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, #{comDepartment,jdbcType=VARCHAR}, 
      #{comPosition,jdbcType=VARCHAR}, #{invoiceOn,jdbcType=BIT}, #{invoiceHeader,jdbcType=VARCHAR}, 
      #{invoiceCode,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{adminId,jdbcType=BIGINT}, 
      #{courseId,jdbcType=BIGINT}, #{graduationStatus,jdbcType=INTEGER}, #{certNo,jdbcType=VARCHAR}, 
      #{certEnName,jdbcType=VARCHAR}, #{certEnPasw,jdbcType=VARCHAR}, #{certCnName,jdbcType=VARCHAR}, 
      #{certCnPasw,jdbcType=VARCHAR}, #{certStartTime,jdbcType=BIGINT}, #{certEndTime,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{examName,jdbcType=VARCHAR}, #{institution,jdbcType=VARCHAR}, 
      #{examPlace,jdbcType=VARCHAR}, #{easeOut,jdbcType=BIT}, #{easeIn,jdbcType=BIT}, 
      #{withdrawOn,jdbcType=BIT}, #{auditOn,jdbcType=BIT}, #{receiveType,jdbcType=INTEGER}, 
      #{reExamineOn,jdbcType=BIT}, #{examinationTime,jdbcType=BIGINT}, #{payTotal,jdbcType=DECIMAL}, 
      #{payTime,jdbcType=BIGINT}, #{payRemarks,jdbcType=VARCHAR}, #{consultationTime,jdbcType=BIGINT}, 
      #{consultationCity,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{createManager,jdbcType=BIGINT}, #{updateManager,jdbcType=BIGINT}, #{delOn,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.arz.pmp.base.entity.PmpUserEntity">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pmp_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="educationId != null">
        education_id,
      </if>
      <if test="payId != null">
        pay_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="recommendName != null">
        recommend_name,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="nationality != null">
        nationality,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="fixedTelephone != null">
        fixed_telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="backupEmail != null">
        backup_email,
      </if>
      <if test="wechatNo != null">
        wechat_no,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="identityNo != null">
        identity_no,
      </if>
      <if test="zipCode != null">
        zip_code,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
      <if test="graduationTime != null">
        graduation_time,
      </if>
      <if test="graduationSchool != null">
        graduation_school,
      </if>
      <if test="schoolMajor != null">
        school_major,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="comName != null">
        com_name,
      </if>
      <if test="comDepartment != null">
        com_department,
      </if>
      <if test="comPosition != null">
        com_position,
      </if>
      <if test="invoiceOn != null">
        invoice_on,
      </if>
      <if test="invoiceHeader != null">
        invoice_header,
      </if>
      <if test="invoiceCode != null">
        invoice_code,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="graduationStatus != null">
        graduation_status,
      </if>
      <if test="certNo != null">
        cert_no,
      </if>
      <if test="certEnName != null">
        cert_en_name,
      </if>
      <if test="certEnPasw != null">
        cert_en_pasw,
      </if>
      <if test="certCnName != null">
        cert_cn_name,
      </if>
      <if test="certCnPasw != null">
        cert_cn_pasw,
      </if>
      <if test="certStartTime != null">
        cert_start_time,
      </if>
      <if test="certEndTime != null">
        cert_end_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="examName != null">
        exam_name,
      </if>
      <if test="institution != null">
        institution,
      </if>
      <if test="examPlace != null">
        exam_place,
      </if>
      <if test="easeOut != null">
        ease_out,
      </if>
      <if test="easeIn != null">
        ease_in,
      </if>
      <if test="withdrawOn != null">
        withdraw_on,
      </if>
      <if test="auditOn != null">
        audit_on,
      </if>
      <if test="receiveType != null">
        receive_type,
      </if>
      <if test="reExamineOn != null">
        re_examine_on,
      </if>
      <if test="examinationTime != null">
        examination_time,
      </if>
      <if test="payTotal != null">
        pay_total,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="payRemarks != null">
        pay_remarks,
      </if>
      <if test="consultationTime != null">
        consultation_time,
      </if>
      <if test="consultationCity != null">
        consultation_city,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createManager != null">
        create_manager,
      </if>
      <if test="updateManager != null">
        update_manager,
      </if>
      <if test="delOn != null">
        del_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="educationId != null">
        #{educationId,jdbcType=BIGINT},
      </if>
      <if test="payId != null">
        #{payId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="recommendName != null">
        #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=BIT},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=BIGINT},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="fixedTelephone != null">
        #{fixedTelephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="backupEmail != null">
        #{backupEmail,jdbcType=VARCHAR},
      </if>
      <if test="wechatNo != null">
        #{wechatNo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null">
        #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null">
        #{graduationTime,jdbcType=BIGINT},
      </if>
      <if test="graduationSchool != null">
        #{graduationSchool,jdbcType=VARCHAR},
      </if>
      <if test="schoolMajor != null">
        #{schoolMajor,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comDepartment != null">
        #{comDepartment,jdbcType=VARCHAR},
      </if>
      <if test="comPosition != null">
        #{comPosition,jdbcType=VARCHAR},
      </if>
      <if test="invoiceOn != null">
        #{invoiceOn,jdbcType=BIT},
      </if>
      <if test="invoiceHeader != null">
        #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="graduationStatus != null">
        #{graduationStatus,jdbcType=INTEGER},
      </if>
      <if test="certNo != null">
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="certEnName != null">
        #{certEnName,jdbcType=VARCHAR},
      </if>
      <if test="certEnPasw != null">
        #{certEnPasw,jdbcType=VARCHAR},
      </if>
      <if test="certCnName != null">
        #{certCnName,jdbcType=VARCHAR},
      </if>
      <if test="certCnPasw != null">
        #{certCnPasw,jdbcType=VARCHAR},
      </if>
      <if test="certStartTime != null">
        #{certStartTime,jdbcType=BIGINT},
      </if>
      <if test="certEndTime != null">
        #{certEndTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="examName != null">
        #{examName,jdbcType=VARCHAR},
      </if>
      <if test="institution != null">
        #{institution,jdbcType=VARCHAR},
      </if>
      <if test="examPlace != null">
        #{examPlace,jdbcType=VARCHAR},
      </if>
      <if test="easeOut != null">
        #{easeOut,jdbcType=BIT},
      </if>
      <if test="easeIn != null">
        #{easeIn,jdbcType=BIT},
      </if>
      <if test="withdrawOn != null">
        #{withdrawOn,jdbcType=BIT},
      </if>
      <if test="auditOn != null">
        #{auditOn,jdbcType=BIT},
      </if>
      <if test="receiveType != null">
        #{receiveType,jdbcType=INTEGER},
      </if>
      <if test="reExamineOn != null">
        #{reExamineOn,jdbcType=BIT},
      </if>
      <if test="examinationTime != null">
        #{examinationTime,jdbcType=BIGINT},
      </if>
      <if test="payTotal != null">
        #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=BIGINT},
      </if>
      <if test="payRemarks != null">
        #{payRemarks,jdbcType=VARCHAR},
      </if>
      <if test="consultationTime != null">
        #{consultationTime,jdbcType=BIGINT},
      </if>
      <if test="consultationCity != null">
        #{consultationCity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createManager != null">
        #{createManager,jdbcType=BIGINT},
      </if>
      <if test="updateManager != null">
        #{updateManager,jdbcType=BIGINT},
      </if>
      <if test="delOn != null">
        #{delOn,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arz.pmp.base.entity.PmpUserEntity">
    update pmp_user
    <set>
      <if test="educationId != null">
        education_id = #{educationId,jdbcType=BIGINT},
      </if>
      <if test="payId != null">
        pay_id = #{payId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="recommendName != null">
        recommend_name = #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=BIT},
      </if>
      <if test="nationality != null">
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=BIGINT},
      </if>
      <if test="phoneNo != null">
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="fixedTelephone != null">
        fixed_telephone = #{fixedTelephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="backupEmail != null">
        backup_email = #{backupEmail,jdbcType=VARCHAR},
      </if>
      <if test="wechatNo != null">
        wechat_no = #{wechatNo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null">
        identity_no = #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null">
        graduation_time = #{graduationTime,jdbcType=BIGINT},
      </if>
      <if test="graduationSchool != null">
        graduation_school = #{graduationSchool,jdbcType=VARCHAR},
      </if>
      <if test="schoolMajor != null">
        school_major = #{schoolMajor,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        com_name = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comDepartment != null">
        com_department = #{comDepartment,jdbcType=VARCHAR},
      </if>
      <if test="comPosition != null">
        com_position = #{comPosition,jdbcType=VARCHAR},
      </if>
      <if test="invoiceOn != null">
        invoice_on = #{invoiceOn,jdbcType=BIT},
      </if>
      <if test="invoiceHeader != null">
        invoice_header = #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="graduationStatus != null">
        graduation_status = #{graduationStatus,jdbcType=INTEGER},
      </if>
      <if test="certNo != null">
        cert_no = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="certEnName != null">
        cert_en_name = #{certEnName,jdbcType=VARCHAR},
      </if>
      <if test="certEnPasw != null">
        cert_en_pasw = #{certEnPasw,jdbcType=VARCHAR},
      </if>
      <if test="certCnName != null">
        cert_cn_name = #{certCnName,jdbcType=VARCHAR},
      </if>
      <if test="certCnPasw != null">
        cert_cn_pasw = #{certCnPasw,jdbcType=VARCHAR},
      </if>
      <if test="certStartTime != null">
        cert_start_time = #{certStartTime,jdbcType=BIGINT},
      </if>
      <if test="certEndTime != null">
        cert_end_time = #{certEndTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="examName != null">
        exam_name = #{examName,jdbcType=VARCHAR},
      </if>
      <if test="institution != null">
        institution = #{institution,jdbcType=VARCHAR},
      </if>
      <if test="examPlace != null">
        exam_place = #{examPlace,jdbcType=VARCHAR},
      </if>
      <if test="easeOut != null">
        ease_out = #{easeOut,jdbcType=BIT},
      </if>
      <if test="easeIn != null">
        ease_in = #{easeIn,jdbcType=BIT},
      </if>
      <if test="withdrawOn != null">
        withdraw_on = #{withdrawOn,jdbcType=BIT},
      </if>
      <if test="auditOn != null">
        audit_on = #{auditOn,jdbcType=BIT},
      </if>
      <if test="receiveType != null">
        receive_type = #{receiveType,jdbcType=INTEGER},
      </if>
      <if test="reExamineOn != null">
        re_examine_on = #{reExamineOn,jdbcType=BIT},
      </if>
      <if test="examinationTime != null">
        examination_time = #{examinationTime,jdbcType=BIGINT},
      </if>
      <if test="payTotal != null">
        pay_total = #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=BIGINT},
      </if>
      <if test="payRemarks != null">
        pay_remarks = #{payRemarks,jdbcType=VARCHAR},
      </if>
      <if test="consultationTime != null">
        consultation_time = #{consultationTime,jdbcType=BIGINT},
      </if>
      <if test="consultationCity != null">
        consultation_city = #{consultationCity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createManager != null">
        create_manager = #{createManager,jdbcType=BIGINT},
      </if>
      <if test="updateManager != null">
        update_manager = #{updateManager,jdbcType=BIGINT},
      </if>
      <if test="delOn != null">
        del_on = #{delOn,jdbcType=BIT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arz.pmp.base.entity.PmpUserEntity">
    update pmp_user
    set education_id = #{educationId,jdbcType=BIGINT},
      pay_id = #{payId,jdbcType=BIGINT},
      room_id = #{roomId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=BIGINT},
      recommend_name = #{recommendName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      nationality = #{nationality,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=BIGINT},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      fixed_telephone = #{fixedTelephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      backup_email = #{backupEmail,jdbcType=VARCHAR},
      wechat_no = #{wechatNo,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      identity_no = #{identityNo,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      graduation_time = #{graduationTime,jdbcType=BIGINT},
      graduation_school = #{graduationSchool,jdbcType=VARCHAR},
      school_major = #{schoolMajor,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      com_name = #{comName,jdbcType=VARCHAR},
      com_department = #{comDepartment,jdbcType=VARCHAR},
      com_position = #{comPosition,jdbcType=VARCHAR},
      invoice_on = #{invoiceOn,jdbcType=BIT},
      invoice_header = #{invoiceHeader,jdbcType=VARCHAR},
      invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=BIGINT},
      course_id = #{courseId,jdbcType=BIGINT},
      graduation_status = #{graduationStatus,jdbcType=INTEGER},
      cert_no = #{certNo,jdbcType=VARCHAR},
      cert_en_name = #{certEnName,jdbcType=VARCHAR},
      cert_en_pasw = #{certEnPasw,jdbcType=VARCHAR},
      cert_cn_name = #{certCnName,jdbcType=VARCHAR},
      cert_cn_pasw = #{certCnPasw,jdbcType=VARCHAR},
      cert_start_time = #{certStartTime,jdbcType=BIGINT},
      cert_end_time = #{certEndTime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      exam_name = #{examName,jdbcType=VARCHAR},
      institution = #{institution,jdbcType=VARCHAR},
      exam_place = #{examPlace,jdbcType=VARCHAR},
      ease_out = #{easeOut,jdbcType=BIT},
      ease_in = #{easeIn,jdbcType=BIT},
      withdraw_on = #{withdrawOn,jdbcType=BIT},
      audit_on = #{auditOn,jdbcType=BIT},
      receive_type = #{receiveType,jdbcType=INTEGER},
      re_examine_on = #{reExamineOn,jdbcType=BIT},
      examination_time = #{examinationTime,jdbcType=BIGINT},
      pay_total = #{payTotal,jdbcType=DECIMAL},
      pay_time = #{payTime,jdbcType=BIGINT},
      pay_remarks = #{payRemarks,jdbcType=VARCHAR},
      consultation_time = #{consultationTime,jdbcType=BIGINT},
      consultation_city = #{consultationCity,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      create_manager = #{createManager,jdbcType=BIGINT},
      update_manager = #{updateManager,jdbcType=BIGINT},
      del_on = #{delOn,jdbcType=BIT}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>