<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arz.pmp.base.mapper.PmpUserEntityMapper">
  <resultMap id="BaseResultMap" type="com.arz.pmp.base.entity.PmpUserEntity">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="education_id" jdbcType="BIGINT" property="educationId" />
    <result column="resource_id" jdbcType="BIGINT" property="resourceId" />
    <result column="recommend_name" jdbcType="VARCHAR" property="recommendName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="birthday" jdbcType="BIGINT" property="birthday" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="fixed_telephone" jdbcType="VARCHAR" property="fixedTelephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="backup_email" jdbcType="VARCHAR" property="backupEmail" />
    <result column="wechat_no" jdbcType="VARCHAR" property="wechatNo" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="identity_no" jdbcType="VARCHAR" property="identityNo" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="graduation_time" jdbcType="BIGINT" property="graduationTime" />
    <result column="graduation_school" jdbcType="VARCHAR" property="graduationSchool" />
    <result column="school_major" jdbcType="VARCHAR" property="schoolMajor" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="com_department" jdbcType="VARCHAR" property="comDepartment" />
    <result column="com_position" jdbcType="VARCHAR" property="comPosition" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="institution" jdbcType="VARCHAR" property="institution" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="create_manager" jdbcType="BIGINT" property="createManager" />
    <result column="update_manager" jdbcType="BIGINT" property="updateManager" />
    <result column="del_on" jdbcType="BIT" property="delOn" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="login_salt" jdbcType="VARCHAR" property="loginSalt" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, education_id, resource_id, recommend_name, user_name, gender, nationality, 
    birthday, phone_no, fixed_telephone, email, backup_email, wechat_no, qq, identity_no, 
    zip_code, user_address, graduation_time, graduation_school, school_major, industry, 
    com_name, com_department, com_position, user_type, institution, create_time, update_time, 
    create_manager, update_manager, del_on, login_name, login_password, login_salt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pmp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pmp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.arz.pmp.base.entity.PmpUserEntity">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pmp_user (education_id, resource_id, recommend_name, 
      user_name, gender, nationality, 
      birthday, phone_no, fixed_telephone, 
      email, backup_email, wechat_no, 
      qq, identity_no, zip_code, 
      user_address, graduation_time, graduation_school, 
      school_major, industry, com_name, 
      com_department, com_position, user_type, 
      institution, create_time, update_time, 
      create_manager, update_manager, del_on, 
      login_name, login_password, login_salt
      )
    values (#{educationId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}, #{recommendName,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, #{nationality,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=BIGINT}, #{phoneNo,jdbcType=VARCHAR}, #{fixedTelephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{backupEmail,jdbcType=VARCHAR}, #{wechatNo,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{identityNo,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{userAddress,jdbcType=VARCHAR}, #{graduationTime,jdbcType=BIGINT}, #{graduationSchool,jdbcType=VARCHAR}, 
      #{schoolMajor,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, 
      #{comDepartment,jdbcType=VARCHAR}, #{comPosition,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, 
      #{institution,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{createManager,jdbcType=BIGINT}, #{updateManager,jdbcType=BIGINT}, #{delOn,jdbcType=BIT}, 
      #{loginName,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, #{loginSalt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.arz.pmp.base.entity.PmpUserEntity">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pmp_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="educationId != null">
        education_id,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="recommendName != null">
        recommend_name,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="nationality != null">
        nationality,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="fixedTelephone != null">
        fixed_telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="backupEmail != null">
        backup_email,
      </if>
      <if test="wechatNo != null">
        wechat_no,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="identityNo != null">
        identity_no,
      </if>
      <if test="zipCode != null">
        zip_code,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
      <if test="graduationTime != null">
        graduation_time,
      </if>
      <if test="graduationSchool != null">
        graduation_school,
      </if>
      <if test="schoolMajor != null">
        school_major,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="comName != null">
        com_name,
      </if>
      <if test="comDepartment != null">
        com_department,
      </if>
      <if test="comPosition != null">
        com_position,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="institution != null">
        institution,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createManager != null">
        create_manager,
      </if>
      <if test="updateManager != null">
        update_manager,
      </if>
      <if test="delOn != null">
        del_on,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="loginPassword != null">
        login_password,
      </if>
      <if test="loginSalt != null">
        login_salt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="educationId != null">
        #{educationId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="recommendName != null">
        #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=BIT},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=BIGINT},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="fixedTelephone != null">
        #{fixedTelephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="backupEmail != null">
        #{backupEmail,jdbcType=VARCHAR},
      </if>
      <if test="wechatNo != null">
        #{wechatNo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null">
        #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null">
        #{graduationTime,jdbcType=BIGINT},
      </if>
      <if test="graduationSchool != null">
        #{graduationSchool,jdbcType=VARCHAR},
      </if>
      <if test="schoolMajor != null">
        #{schoolMajor,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comDepartment != null">
        #{comDepartment,jdbcType=VARCHAR},
      </if>
      <if test="comPosition != null">
        #{comPosition,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="institution != null">
        #{institution,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createManager != null">
        #{createManager,jdbcType=BIGINT},
      </if>
      <if test="updateManager != null">
        #{updateManager,jdbcType=BIGINT},
      </if>
      <if test="delOn != null">
        #{delOn,jdbcType=BIT},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="loginSalt != null">
        #{loginSalt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arz.pmp.base.entity.PmpUserEntity">
    update pmp_user
    <set>
      <if test="educationId != null">
        education_id = #{educationId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="recommendName != null">
        recommend_name = #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=BIT},
      </if>
      <if test="nationality != null">
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=BIGINT},
      </if>
      <if test="phoneNo != null">
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="fixedTelephone != null">
        fixed_telephone = #{fixedTelephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="backupEmail != null">
        backup_email = #{backupEmail,jdbcType=VARCHAR},
      </if>
      <if test="wechatNo != null">
        wechat_no = #{wechatNo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null">
        identity_no = #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null">
        graduation_time = #{graduationTime,jdbcType=BIGINT},
      </if>
      <if test="graduationSchool != null">
        graduation_school = #{graduationSchool,jdbcType=VARCHAR},
      </if>
      <if test="schoolMajor != null">
        school_major = #{schoolMajor,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="comName != null">
        com_name = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comDepartment != null">
        com_department = #{comDepartment,jdbcType=VARCHAR},
      </if>
      <if test="comPosition != null">
        com_position = #{comPosition,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="institution != null">
        institution = #{institution,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createManager != null">
        create_manager = #{createManager,jdbcType=BIGINT},
      </if>
      <if test="updateManager != null">
        update_manager = #{updateManager,jdbcType=BIGINT},
      </if>
      <if test="delOn != null">
        del_on = #{delOn,jdbcType=BIT},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        login_password = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="loginSalt != null">
        login_salt = #{loginSalt,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arz.pmp.base.entity.PmpUserEntity">
    update pmp_user
    set education_id = #{educationId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=BIGINT},
      recommend_name = #{recommendName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      nationality = #{nationality,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=BIGINT},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      fixed_telephone = #{fixedTelephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      backup_email = #{backupEmail,jdbcType=VARCHAR},
      wechat_no = #{wechatNo,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      identity_no = #{identityNo,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      graduation_time = #{graduationTime,jdbcType=BIGINT},
      graduation_school = #{graduationSchool,jdbcType=VARCHAR},
      school_major = #{schoolMajor,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      com_name = #{comName,jdbcType=VARCHAR},
      com_department = #{comDepartment,jdbcType=VARCHAR},
      com_position = #{comPosition,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      institution = #{institution,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      create_manager = #{createManager,jdbcType=BIGINT},
      update_manager = #{updateManager,jdbcType=BIGINT},
      del_on = #{delOn,jdbcType=BIT},
      login_name = #{loginName,jdbcType=VARCHAR},
      login_password = #{loginPassword,jdbcType=VARCHAR},
      login_salt = #{loginSalt,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>