<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arz.pmp.base.mapper.ex.PmpUserExMapper">

    <sql id="Sql_export_select">
        FROM pmp_user_ref_course urc
        LEFT JOIN pmp_user a ON a.user_id=urc.user_id
        LEFT JOIN pmp_admin b ON urc.admin_id=b.admin_id
        LEFT JOIN pmp_course c ON urc.course_id=c.course_id
        LEFT JOIN pmp_teaching_room d ON urc.room_id=d.room_id
        LEFT JOIN pmp_user_education e ON a.education_id=e.education_id
        LEFT JOIN pmp_user_pay_type f ON urc.pay_id=f.pay_id
        WHERE a.del_on=0
        <if test="educationAdminId != null and educationAdminId!=0 ">
            AND d.admin_id = #{educationAdminId,jdbcType=BIGINT}
        </if>
        <if test="educationId != null">
            AND a.education_id = #{educationId,jdbcType=BIGINT}
        </if>
        <if test="roomId != null">
            AND urc.room_id = #{roomId,jdbcType=BIGINT}
        </if>
        <if test="keyWord != null and keyWord!='' ">
            AND a.user_name LIKE CONCAT('%',#{keyWord},'%')
        </if>
        <if test="identityNo != null and identityNo!='' ">
            AND a.identity_no LIKE CONCAT('%',#{identityNo},'%')
        </if>
        <if test="userType != null and userType!=0 ">
            AND a.user_type = #{userType,jdbcType=INTEGER}
        </if>
        <if test="salesAdminId != null and salesAdminId!=0 ">
            AND urc.admin_id = #{salesAdminId,jdbcType=BIGINT}
        </if>
        <if test="courseId != null and courseId!=0 ">
            AND urc.course_id = #{courseId,jdbcType=BIGINT}
        </if>
        <if test="startTime != null and startTime!=0 ">
            AND urc.create_time>=#{startTime,jdbcType=BIGINT}
        </if>
        <if test="endTime != null and endTime!=0 ">
            AND #{endTime,jdbcType=BIGINT}>=urc.create_time
        </if>
        <if test="invoiceOn != null ">
            AND urc.invoice_on=#{invoiceOn}
        </if>
        <if test="comName != null and comName!='' ">
            AND a.com_name LIKE CONCAT('%',#{comName},'%')
        </if>
        <if test="comPosition != null and comPosition!='' ">
            AND a.com_position LIKE CONCAT('%',#{comPosition},'%')
        </if>
        <if test="payTotal != null ">
            AND urc.pay_total = #{payTotal}
        </if>
        <if test="graduationStatus != null ">
            AND urc.graduation_status = #{graduationStatus}
        </if>
        <if test="userRefCourseId != null">
            AND urc.id = #{userRefCourseId,jdbcType=BIGINT}
        </if>
        <if test="userId != null">
            AND a.user_id = #{userId,jdbcType=BIGINT}
        </if>
        ORDER BY urc.create_time DESC,urc.admin_id,c.sort
    </sql>
    <select id="selectUserByName" resultType="com.arz.pmp.base.entity.PmpUserEntity">
        SELECT a.user_id,a.phone_no,a.identity_no
        FROM pmp_user a
        WHERE a.user_name=#{userName,jdbcType=VARCHAR}
        <choose>
            <when test="identityNo !=null and identityNo!= ''">
                AND a.identity_no=#{identityNo,jdbcType=VARCHAR}
            </when>
            <otherwise>
                <if test="phoneNo !=null and phoneNo!= ''">
                    AND a.phone_no=#{phoneNo,jdbcType=VARCHAR}
                </if>
            </otherwise>
        </choose>

        <!--<if test="courseId !=null">AND a.course_id=#{courseId}</if>
        <if test="roomId !=null">AND a.room_id=#{roomId}</if>-->
        LIMIT 1;
    </select>

    <select id="selectUserList" resultType="com.arz.pmp.base.api.bo.user.UserDataResp">
        SELECT a.user_id, a.user_name, a.gender,a.phone_no,a.user_type,a.com_name,a.email,
        urc.consultation_time,urc.consultation_city,urc.pay_total,a.resource_id,
        b.nickName salesAdminName,c.course_name,d.room_name,urc.id userRefCourseId,
        (SELECT b_1.nickName FROM pmp_admin b_1 WHERE d.admin_id=b_1.admin_id) educationAdminName,
        (SELECT g.resource_name FROM pmp_user_resource_type g WHERE a.resource_id=g.resource_id) resourceName
        <include refid="Sql_export_select"></include>

    </select>

    <select id="selectEducationList" resultType="com.arz.pmp.base.entity.PmpUserEducationEntity">

        SELECT a.education_id,a.education_name
        FROM pmp_user_education a
        <where>
            <if test="delOn !=null">a.del_on=#{delOn}</if>
        </where>
        ORDER BY a.sort,a.education_id;
    </select>

    <select id="selectUserPayTypeList" resultType="com.arz.pmp.base.entity.PmpUserPayTypeEntity">

        SELECT a.pay_id,a.pay_name
        FROM pmp_user_pay_type a
        <where>
            <if test="delOn !=null">a.del_on=#{delOn}</if>
        </where>
        ORDER BY a.sort,a.pay_id;
    </select>

    <select id="selectResourceTypeList" resultType="com.arz.pmp.base.entity.PmpUserResourceTypeEntity">

        SELECT a.resource_id,a.resource_name
        FROM pmp_user_resource_type a
        <where>
            <if test="delOn !=null">a.del_on=#{delOn}</if>
        </where>
        ORDER BY a.sort,a.resource_id;
    </select>

    <select id="selectExportUserList" resultType="com.arz.pmp.base.api.bo.user.UserDataResp">
        SELECT a.user_id, a.education_id, urc.pay_id, urc.room_id, a.user_name, a.gender, a.nationality, a.birthday,
        a.phone_no, a.fixed_telephone, a.email, a.backup_email, a.wechat_no, a.qq, a.identity_no, a.zip_code,
        a.user_address, a.graduation_time, a.graduation_school, a.school_major, a.industry, a.com_name,
        a.com_department, a.com_position, urc.invoice_header, urc.invoice_code, a.user_type, urc.admin_id,
        urc.course_id, urc.graduation_status, urc.cert_no, urc.cert_en_name, urc.cert_en_pasw, urc.cert_cn_name,
        urc.cert_cn_pasw,
        urc.remark, urc.create_time,b.nickName salesAdminName,c.course_name,d.room_name,e.education_name,f.pay_name,
        urc.examination_time,urc.pay_total,urc.pay_time,urc.consultation_time,urc.consultation_city,urc.pay_remarks,
        (SELECT b_1.nickName FROM pmp_admin b_1 WHERE d.admin_id=b_1.admin_id) educationAdminName,
        (SELECT g.resource_name FROM pmp_user_resource_type g WHERE a.resource_id=g.resource_id) resourceName
        <include refid="Sql_export_select"></include>
    </select>

    <select id="selectUserDetail" resultType="com.arz.pmp.base.api.bo.user.UserDataResp">

        SELECT a.user_id, a.education_id, urc.pay_id, urc.room_id, a.user_name, a.gender, a.nationality, a.birthday,
        a.phone_no, a.fixed_telephone, a.email, a.backup_email, a.wechat_no, a.qq, a.identity_no, a.zip_code,
        a.user_address, a.graduation_time, a.graduation_school, a.school_major, a.industry, a.com_name,
        a.com_department, a.com_position, urc.invoice_header, urc.invoice_code, a.user_type,
        urc.admin_id,a.resource_id,a.recommend_name,
        urc.course_id, urc.graduation_status, urc.cert_no, urc.cert_en_name, urc.cert_en_pasw, urc.cert_cn_name,
        urc.cert_cn_pasw,
        urc.remark, urc.create_time,urc.consultation_time,urc.consultation_city,
        b.nickName salesAdminName,b.admin_id,c.course_name,d.room_name,e.education_name,f.pay_name,
        urc.examination_time,urc.pay_total,urc.pay_time,urc.invoice_on,urc.pay_remarks,urc.id userRefCourseId,
        (SELECT b_1.nickName FROM pmp_admin b_1 WHERE d.admin_id=b_1.admin_id) educationAdminName,
        (SELECT g.resource_name FROM pmp_user_resource_type g WHERE a.resource_id=g.resource_id) resourceName
        <include refid="Sql_export_select"></include>
    </select>

    <select id="selectFrontUserData" resultType="com.arz.pmp.base.api.bo.user.front.UserPerfectData">
        SELECT a.education_id, a.user_name, a.gender, a.nationality, a.birthday,
        a.phone_no, a.fixed_telephone, a.email, a.backup_email, a.wechat_no, a.qq, a.identity_no, a.zip_code,
        a.user_address, a.graduation_time, a.graduation_school, a.school_major, a.industry, a.com_name,
        a.com_department, a.com_position,
        e.education_name
        FROM pmp_user a
        LEFT JOIN pmp_user_education e ON a.education_id=e.education_id
        WHERE a.del_on=0 AND a.user_id = #{userId}
    </select>

    <select id="selectUserIds" resultType="java.lang.Long">
        SELECT a.user_id
        FROM pmp_user a
        WHERE a.del_on=0 AND a.user_name = #{userName} AND a.identity_no = #{identityNo}
    </select>

    <select id="selectUserRefCourseId" resultType="java.lang.Long">
        SELECT urc.id
        FROM pmp_user_ref_course urc
        WHERE urc.user_id=#{userId} AND urc.course_id=#{courseId} AND urc.del_on=0
        LIMIT 1;
    </select>


    <select id="selectUserCourseList" resultType="com.arz.pmp.base.api.bo.user.front.CourseListData">
        SELECT a.user_id, a.user_name, a.gender,a.phone_no,a.user_type,a.com_name,a.email,
        urc.consultation_time,urc.consultation_city,urc.pay_total,a.resource_id,
        b.nickName salesAdminName,c.course_name,c.apply_url,d.room_name,urc.id userRefCourseId,
        (SELECT b_1.nickName FROM pmp_admin b_1 WHERE d.admin_id=b_1.admin_id) educationAdminName,
        (SELECT g.resource_name FROM pmp_user_resource_type g WHERE a.resource_id=g.resource_id) resourceName
        <include refid="Sql_export_select"></include>
    </select>

    <select id="selectUserCourseApply" resultType="com.arz.pmp.base.entity.PmpUserCourseApplyEntity">
        SELECT * FROM pmp_user_course_apply a WHERE a.user_ref_course_id=#{userRefCourseId}
    </select>
</mapper>